*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}
body > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}



/* shape1 */
.shape-1{
    background-color: #6592cf;
}
.shape-1 span:nth-child(1){
    width: 12rem;
    height: 7rem;
    background-color: #243d83;
}
.shape-1 span:nth-child(2){
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2rem solid #6592cf;
    position: absolute;
    z-index: 1;
    background-color: #243d83;
}
.shape-1 span:nth-child(3){
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #eeb850;
    position: absolute;
    z-index: 2;
}




/* shape2 */
.shape-2{
    background-color: #e97676;
}
.shape-2 div{
    width: 8rem;
    height: 10rem;
    background-color: #060f55;
    border-radius: 0 0 4rem 4rem;
    display: flex;
}
.shape-2 div span{
    width: 100%;
    height: 7rem;
    background-color: #e97676;
    transform: translateY(-0.68rem);
    border-radius:1rem;
    margin-top: -2.3rem;
}
.shape-2 div span:nth-child(odd){
    background-color: #060f55;

}
.shape-2::before{
    content: '';
    width: 1rem;
    height: 8rem;
    background-color: #060f55;
    bottom: 0;
    position: absolute;
    left: calc(50%, -0.5rem);
}





/* shape3 */
.shape-3{
    
    flex-direction: column;
    background-color: #191919;

}
.shape-3 div:first-child{
    width: 8rem;
    height: 7rem;
    background-color: #4f77ff;
    border-radius: 4rem 4rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    position: relative;
}
.shape-3 div:first-child span{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #191919;
    margin-top: 2.7rem;
}
.shape-3 div:first-child span:nth-child(2){
    position: absolute;
    bottom: -0.6rem;
    width: 1.4rem;
    height: 1.4rem;
    z-index: 1;
}
.shape-3 div:last-child{
    width: 5rem;
    height: 2.5rem;
    background-color: #4f77ff;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    border-radius: 0 0 1.4rem 1.4rem;
}

.shape-3 div:last-child span{
    width: 0.6rem;
    height:1rem;
    margin-top: 1.7rem;
    background-color: #191919;
    border-radius: 1rem;
}






/* shape4 */
.shape-4{
    background-color: #0b2429;
}
.shape-4 span:nth-child(1){
    width: 8rem;
    height: 8rem;
    background: #998235;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
}
.shape-4 span:nth-child(1)::before,
.shape-4 span:nth-child(1)::after{
    content: "";
    width: 4rem;
    height: 4rem;
    position: absolute;
    background-color: #998235;
    transform: rotate(45deg);
}
.shape-4 span:nth-child(1)::before{
    left: -0.8rem;
}

.shape-4 span:nth-child(1)::after{
    right: -0.8rem;
}
.shape-4 span:nth-child(2){
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #f3ac3c;
    border: 0.8rem solid #0b2429;
}

.shape-4 span:nth-child(3){
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: #0b2429;
    border-radius: 50%;
}




/* shape-5 */
.shape-5{
    background-color: #191919;
}
.shape-5 div{
    width: 8rem;
    height: 12rem;
    background-color: #4f77ff;
    display: flex;
    flex-direction: column;
    border-radius: 4rem 4rem 0 0;
    position: relative;
}
.shape-5 div span{
    background-color: #191919;
    height: 1.3rem;
    width: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}
.shape-5 div span:nth-child(1){
    margin-bottom: 4.5rem;
    width: 2.5rem;

}
.shape-5 div span:nth-child(2){
    margin-bottom: 3rem;
    width: 3.5rem;
}
.shape-5 div span:nth-child(3){
    margin-bottom: 1.5rem;
    width: 4.5rem;
}
.shape-5 div span:nth-child(4){
    margin-bottom: 0;
    width: 5.5rem;
}










/* shape-6 */
.shape-6{
    background-color: #312222;
    flex-direction: column;
}
.shape-6 span:nth-child(1){
    width: 3rem;
    height: 3rem;
    background-color: #efa93b;
    border-radius: 4rem 4rem 1rem 1rem;
    margin-bottom: -1.1rem;
}
.shape-6 span:nth-child(2){
    width: 8rem;
    height: 8rem;
    background-color: #e08027;
    border-radius: 4rem 4rem 1rem 1rem;
    z-index:1;
}
.shape-6 span:nth-child(3){
    width: 3rem;
    height: 3rem;
    background-color: #824b20;
    border-radius: 1rem 1rem 4rem 4rem;
    margin-top: -0.7rem;
}









/* shape-7 */
.shape-7{
    background-color: #293462;
}
.shape-7 div{
    width: 10rem;
    height: 10rem;
    background-color: #fe5f55;
    border-radius: 5rem 5rem 3rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
    position: relative;
    overflow: hidden;
}
.shape-7 div span{
    background-color: #fff1c1;
    
}
.shape-7 div span:nth-child(1), .shape-7 div span:nth-child(2){
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: -2.4rem;
}
.shape-7 div span:nth-child(3), .shape-7 div span:nth-child(4){
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    
}

.shape-7 div span:nth-child(5){
    width: 2.5rem;
    height: 0.5rem;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 1rem;
}








/* shape8 */
.shape-8{
   background-color: #998235;
}
.shape-8 div:nth-child(2){
    width: 8.5rem;
    height: 8.5rem;
    background-color: #1a4341;
    border-radius: 50%;
    z-index: 2;
    position: relative;

    display: flex;
    justify-content: center;
    
    align-items: center;
    gap: 1rem;
}
.shape-8 div:nth-child(2) span{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    background-color: #1a4341;
    border: 0.5rem solid #998235;
}
.shape-8 div:nth-child(2)::before{
    content:"";
    width:80%;
    height: 1.2rem;
    position: absolute;
    background-color: #1a4341;
   top: 35%;
}
.shape-8 div:nth-child(2)::after{
    content: '';
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    /* background-color: white; */
    border-radius: 50%;
    bottom: -3rem;
    border: 0.8rem solid transparent;
    border-top-color: white;
    border-left-color: white;
    transform: rotate(45deg);
}
.shape-8 div:nth-child(1), .shape-8 div:nth-child(3){
    width: 3rem;
    height: 8rem;
    background-color: #1a4341;
    border-radius: 50%;
    position: relative;
}
.shape-8 div:nth-child(1)::after, .shape-8 div:nth-child(3)::after
{
    content: '';
    width: 80%;
    height: 100%;
    border-radius: 50%;
    background-color: #0b2429;
    position: absolute;
    right: 0;
    }
    .shape-8 div:nth-child(3)::after{
        left: 0;
    }
.shape-8::before{
    content: "";
    width: 1.8rem;
    height: 42%;
    background-color: #0b2429;
    border-radius: 2rem 2rem 0rem 0rem;
    position: absolute;
    bottom: 0;
    z-index: 3;
}







/* shape9 */
.shape-9{
    background-color: #293462;
}
.shape-9 span {
    background-color: #fff1c1;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.shape-9 span::before{
    content: '';
    width: 6rem;
    height: 6rem;
    background-color: #fe5f55;
    position: absolute;
    bottom: -2.8rem;
    transform: rotate(45deg);
}
.shape-9 span::after{
    content: '';
    width: 9rem;
    height: 9rem;
    background-color: #fe5f55;
    position: absolute;
    right: -1rem;
    bottom: -3rem;
    transform: rotate(45deg);
}







/* shape-10 */
.shape-10{
    background-color: #998235;
    flex-direction: column;
}
.shape-10 div{
    width: 10rem;
    height: 5rem;
    display: flex;
}
.shape-10 div:first-child span{
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 50% 50% 50% 0;
}
.shape-10 div:first-child span:nth-child(1){
    border-radius: 50% 50% 0 50%;
}
.shape-10 div:last-child{
    background-color: #eff33c;
    border-radius: 3rem;
    display: flex;
    gap: 0.4rem;
    overflow: hidden;
    justify-content: start;

}
.shape-10 div:last-child span{
    background-color: black;
    width: 1.8rem;
    height: 100%;
}
.shape-10 div:last-child span:last-child{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    align-self: start;
    margin:0.9rem 0rem 0rem 0.6rem;
}








/* shape11 */
.shape-11{
    background-color: #293462;
}
.shape-11 div:nth-child(2){
    background-color: #fff1c1;
    width: 6rem;
    height: 4rem;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0.5rem;
    align-items: flex-start;
}
.shape-11 div:nth-child(2) span{
    width: 1.8rem;
    height: 0.3rem;
    background-color: #e97676;
    border-radius: 5px;
    margin-top:0.4rem ;
}
.shape-11 div:nth-child(2) span:nth-child(3){
    align-self: end;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    margin:0.6rem 0.3rem 0 0;
    z-index: 3;
}
.shape-11 div:nth-child(1), .shape-11 div:nth-child(3){
    width: 3rem;
    height: 2.5rem;
    border: 7px solid #fff1c1;
    align-self: center;
    margin-top:-1.5rem;
    border-radius: 2rem 0 0 2rem;
    transform: translateX(10%);
}
.shape-11 div:nth-child(3){
    border-radius: 0 2rem 2rem 0;
    transform: translateX(-10%);
}



















@media screen and (max-width: 992px){
    body{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 700px){
    body{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px){
    body{
        grid-template-columns: 1fr;
    }
}